.menu-open {
    animation: menu-open-close ease 0.3s both;
}

.menu-close {
    animation: menu-open-close ease 0.3s both reverse;
}

@keyframes menu-open-close {
    0% {
        scale: 0;
    }

    80% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}
